.wojewodztwo {
  fill: #DEDEDE;
  stroke: #707070;
  stroke-width: 1px;
}

.kolo {
  /*cursor: crosshair;*/
  fill: #EFB701;
  stroke: #AF8600;
  stroke-width: 1px;
  opacity: 0.4;
}

.kolo:hover {
  /*stroke-width: 2px;*/
  fill: #C20D19;
}

.matura {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 13px;
  fill: #000;
  cursor: default;
}

.matura:hover {
  fill: #C63628;
}

.rok {
  fill: #000;
  font-size: 12px;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  cursor: default;
}

.rok:hover {
  fill: #C63628;
}

.rok.selected {
  fill: #C20D19;
}

#stopka {
  position: absolute;
  top: 530px;
  left: 580px;
  padding: 12px;
  /*width: 300px;*/
  /*background: rgba(230, 230, 230, 0.85);*/
  /*color: #222;*/
  border: solid 1px #aaa;
  border-radius: 4px;
  z-index:5;
  font-size: 13px;
  cursor: default;
}

#tooltip {
  position: absolute;
  text-align: left;
  padding: 8px;
  font: 12px sans-serif;
  background: #000;
  color: #ddd;
  border: solid 1px #aaa;
  border-radius: 4px;
  pointer-events: none;
  opacity: 0.8;
  display: none;
  z-index: 10;
}

a:link {
 color: #4C8C3F;
 text-decoration: none;
}
a:visited {
 color: #4C8C3F;
 text-decoration: none;
}
a:hover {
 color: #C20D19;
 text-decoration: none;
}
